#root {
  height: 100%;
}
/**********************************************************/
.header h1 {
  position: fixed;
  left: 7%;
  top: 3.5%;
  font-size: 39px;
  width: 60px;
}
svg {
  position: absolute;
}
.App-logo {
  stroke-dasharray: 251;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s ease-out;
  cursor: pointer;
  animation: dash 1s;
  transition:transform .3s cubic-bezier(.3,.86,.61,1.63);
}
.App-logo:hover {
  transform: scale(.9);
}

.logo-text {
  width: 100%;
  display: block;
  text-align: center;
}
/**********************************************************/

/**********************************************************/
.page-scroll-wrapper {
  height: 100%;
}
.gnb-button {
  position: fixed;
  z-index: 999;
  right: 7%;
  top: 5%;
  font-size: 1px;
  text-indent: -9999px;
  color: transparent;
  width: 30px;
  height: 24px;
  transition: all .2s linear;
  cursor: pointer;
  transition:transform .3s cubic-bezier(.3,.86,.61,1.63);
}
.gnb-button:hover {
  transform: scale(.9);
}
.gnb-button:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: #000;
  top: 0px;
  transition: all .6s ease;
}
.gnb-button:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: #000;
  top: 24px;
  transition: all .6s ease;
  bottom: 0;
}
/**********************************************************/

/**********************************************************/
.gnb-wrapper.active .gnb-button:before {
  top: 9px;
  transform: matrix(1, 1, -0.7071, 0.7071, 0, 0);
}
.gnb-wrapper.active .gnb-button:after {
  top: 9px;
  transform: matrix(1, -1, 0.7071, 0.7071, 0, 0);
}

nav {
  position: fixed;
  width: 100%;
  height: 0;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.gnb-wrapper.active nav {
  opacity: 1;
  height: 100%;
  visibility: visible;
}
.gnb-list {
  position: absolute;
  margin: -208px 0 0 -168px;
  top: 50%;
  left: 50%;
}
.gnb-item button {
  position: relative;
  padding: 12px 0;
  width: 100%;
  font-size: 51px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  transition: all .3s ease;
  text-align: left;
}
.gnb-item button:after {
  position: absolute;
  content: "";
  background-color: #e03131;
  top: 50%;
  left: 0;
  width: 0;
  height: 4px;
  transition: all .3s ease;
}
.gnb-item:hover button {
  padding-left: 30px;
}
.gnb-item:hover button:after {
  width: 20px;
}
/**********************************************************/

/**********************************************************/
section {
  height: 100%;
}
.slide1 {
  background: darksalmon;
}
.slide2 {
  background: darkslategrey;
}
.slide3 {
  background: burlywood;
}
.slide4 {
  background: darkkhaki;
}
/**********************************************************/

/**********************************************************/
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 251;
  }
  100% {
    stroke-dashoffset: 502;
  }
}
/**********************************************************/
